<html>
<head>
    <title>New Order</title>
</head>
<body>
<h1>New order from: <%= @user.first_name %> <%= @user.last_name %></h2>

<ul>
    <% @order.items.each do |item| %>
        <li><%=item.name%></li>
    <% end %>
</ul>

<h2>Extra Instructions:</h2>
<p><%= @order.instructions %></p>

<h2>Pickup Time:</h2>
<p><%= @order.pickup_time.to_s %></p>
</body>
</html>
