<h1>Login</h1>
<% unless current_user %>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= form_tag "sessions" do %>
	<%= label_tag :email %>
	<%= text_field_tag :email, params[:email] %>

	<%= label_tag :password %>
	<%= password_field_tag :password %>
	<br>
	<%= submit_tag "Log In", disable_with: "Submitting...", :class => "btn" %>
<% end %>
<% else %>
<h3>It looks like Someone is already logged in. <br>
	<%= link_to "Log them out?", logout_path, method: 'delete', class: 'btn' %></h3>
<% end %>
