<% content_for :breadcrumb do %>
  <li class="active">Home / Users</li>
<% end %>

<h1>Users</h1>
<h5>List of Users in the system</h5>
<div class="well">
  <%= link_to 'Create a new user', new_user_path, :class => 'btn btn-success' %>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td align='right'>
  <%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-primary' %>
  <%= link_to 'Delete', user, :class => 'btn btn-danger', :confirm => 'Are you sure?', :method => :delete  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
