<% content_for :breadcrumb do %>
  <li class="active">Home / new order</li>
<% end %>

<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user, label_method: :email%>
    <%= f.input :total_price %>
    <%= f.input :instructions %>
    <%= f.input :status %>
    <%= f.input :pickup_time %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to "Go back", orders_path, :class => 'btn btn-success' %>

    </div>
<% end %>

