
<br>
<p id="notice"><%= notice %></p>

<% content_for :breadcrumb do %>
  <li class="active"> Home / Order</li>
<% end %>

<h1>Order Details</h1>


<div class='well'>
<button type="button" class="btn btn-block btn-success" data-toggle="collapse" data-target="#demo">
  Add an item to this order
</button>

 </div>

<div id="demo" class="collapse">
  <br>

  <%= simple_form_for(@item_order) do |f| %>
  <%= f.error_notification %>

<div class="form-inputs">
  <%= f.hidden_field :order_id, :value => @order.id %>
  <%= f.association :item, label_method: :name %>

</div>

<div class="form-actions">
  <%= f.button :submit, 'Save Line Item', :class => 'btn-primary'%>
  <%= link_to "Go back", order_path, :class => 'btn btn-success' %>
  <% end %>
</div>
</div>


<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Order Number</th>
      <th>Total Price</th>
      <th>Pickup Time</th>
      <th>Status</th>

      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @order.id %></th>
        <td>$<%= @total %></th>
        <td><%= @order.pickup_time %></th>
        <td><%= @order.status %></th>

        <td>
  <%= link_to 'Edit', edit_order_path(@order), :class => 'btn btn-primary' %>
  <%= link_to 'Delete', @order, :class => 'btn btn-danger', :confirm => 'Are you sure?', :method => :delete  %>
        </td>
      </tr>
  </tbody>
</table>
<br>



<h2>Line Items in this Order</h2>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>City</th>
      <th>Country</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @order.items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td><%= item.city %></td>
        <td><%= item.country %></td>
        <td>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>



<div class="well">
 <%= link_to "Submit Order", {:controller => :Orders, :action => 'submit_order'}, :class => 'btn btn-success', :confirm => 'Are you sure?', :method => :put %>


</div>



