<p id="notice"><%= notice %></p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Country:</b>
  <%= @item.country %>
</p>

<p>
  <b>City:</b>
  <%= @item.city %>
</p>

<p>
  <b>Category:</b>
  <%= @item.category %>
</p>

<p>
  <b>Is available:</b>
  <%= @item.is_available %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
