<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <title>Latte League</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<div class="container master-container">
<body>
  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">

      <div class="container">
        <a class="brand" href="#">Latte League</a>
        <ul class="nav">
          <li><%= link_to "Home", root_path %></li>



<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle='dropdown'>
              Users
              <b class='caret'></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "View all users", users_path %></li>
              <li><%= link_to "Add user", new_user_path %></li>
            </ul>
          </li>

<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle='dropdown'>
              Items
              <b class='caret'></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "View all items", items_path %></li>
              <li><%= link_to "Add item", new_item_path %></li>
            </ul>
          </li>

<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle='dropdown'>
              Categories
              <b class='caret'></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "View all items", categories_path %></li>
              <li><%= link_to "Add item", new_category_path %></li>
            </ul>
          </li>

<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle='dropdown'>
              Orders
              <b class='caret'></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "View all orders", orders_path %></li>
              <li><%= link_to "Add order", new_order_path %></li>
            </ul>
          </li>





        </ul>
      </div>
    </div>
  </header>
  <% if notice %>
      <div class="alert alert-success fade in" data-alert="alert">
        <a class="close" data-dismiss='alert' href="#">×</a>
        <p><%= notice %></p>
      </div>
    <% end %>
  <div class="container master-container">
    <ul class="breadcrumb">
      <%= yield :breadcrumb %>
    </ul>
  </div>
    <%= yield %>
</div>
  <footer class="footer">
    <div class="container">
      <p>Copyright 2013 <%= link_to "Americano Association LLC", "http://icanhascheezburger.com" %></p>
    </div>
  </footer>
  </body>









</html>
